<%@ Master Language="C#" %>

<!DOCTYPE html>

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="HeadContent" runat="server"/>
</head>
<body>
	<div>
        <asp:ContentPlaceHolder id="MainContent" runat="server"/>
    </div>
</body>
</html>
